.u-section-1 .u-sheet-1 {
  min-height: 302px;
}

.u-section-1 .u-group-1 {
  min-height: 220px;
  margin-top: 41px;
  margin-bottom: 41px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 32px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-2 {
  margin: 18px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 200px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-2 .u-image-1 {
  min-height: 236px;
  background-image: url("images/logoJPAL.png");
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-2 .u-image-2 {
  min-height: 236px;
  background-image: url("images/BID-logo-fondo-blanco.png");
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 236px;
  background-image: url("images/logoLemann.png");
  background-position: 50% 38.72%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 195px;
  }

  .u-section-2 .u-image-2 {
    min-height: 195px;
  }

  .u-section-2 .u-image-3 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 149px;
  }

  .u-section-2 .u-image-2 {
    min-height: 149px;
  }

  .u-section-2 .u-image-3 {
    min-height: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 284px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 284px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 335px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 179px;
  }

  .u-section-2 .u-image-2 {
    min-height: 179px;
  }

  .u-section-2 .u-image-3 {
    min-height: 211px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 263px;
}

.u-section-3 .u-group-1 {
  min-height: 192px;
  margin-top: 41px;
  margin-bottom: 30px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0 10px;
}

.u-section-3 .u-text-2 {
  margin: 18px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 200px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-4 .u-image-1 {
  min-height: 236px;
  background-image: url("images/RIOPREFEITURAEducacaohorizontalazul.png");
  background-position: 50% 20.77%;
}

.u-section-4 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-4 .u-image-2 {
  min-height: 236px;
  background-image: url("images/gesto_logo.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 195px;
  }

  .u-section-4 .u-image-2 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 149px;
  }

  .u-section-4 .u-image-2 {
    min-height: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 179px;
  }

  .u-section-4 .u-image-2 {
    min-height: 179px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 43px;
}

.u-section-5 .u-text-1 {
  margin: 0 553px 0 37px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: 700;
    margin-right: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 527px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 35px 0 46px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 432px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/michela_photo.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/photo_raissa.jpg");
  background-position: 50% 11.67%;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("images/dm.jpg");
  background-position: 50% 22.5%;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-6 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-6 .u-image-3 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}